<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>메뉴 상세보기</title>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">

    <title>메뉴별 필요수량</title>

    <style>
        * {
            font-family: 'Gowun Batang', serif;
            color: black;
        }

        body {
            background-position: center;
            background-size: cover;
        }

        h1 {
            font-weight: bold;
        }

        .order {
            width: 85%;
            margin: 60px auto 0px auto;
            padding-bottom: 60px;
        }

        .mybtn {
            width: 100%;
        }

        .mypost {
            width: 95%;
            max-width: 500px;
            margin: 20px auto 0px auto;
            padding: 20px;
            box-shadow: 0px 0px 3px 0px gray;

            display: none;
        }

        .order>table {
            margin: 40px 0;
            font-size: 18px;
        }

        option {
            color: black;
        }
    </style>
    <script>
        $(document).ready(function () {
            console.log(localStorage.getItem("token"))
            if (localStorage.getItem("token")) {
                getMenuDetail();
            }
        });

        function getMenuDetail() {
            let menuId = new URLSearchParams(location.search).get('menuId')
            console.log("menuId : ", menuId);

            $.ajax({
                headers: {
                    authorization: `Bearer ${localStorage.getItem("token")}`,
                },
                type: "GET",
                url: `/api/menuDetail?menuId=${menuId}`,
                data: {},
                success: function (response) {
                    console.log(response);
                    let rows = response;
                    let menuName = rows[0].menuName;
                    let institution = rows[0].institution;
                    let ingredient = rows[0].ingredient;
                    let onePerson = rows[0].onePerson;
                    let eatingNum = rows[0].eatingNum;
                    let expectAmount = (onePerson * eatingNum) / 1000;

                    console.log(menuName, institution, ingredient, onePerson, eatingNum, expectAmount)

                    let menuName_html = `<h1>[${menuName}]</h1>`
                    $('#putMenuName').append(menuName_html)

                    let menuInstitutionData_html = `${institution}`
                    $('#institutionDetail').append(menuInstitutionData_html)
                    let menuIngredientData_html = `${ingredient}`
                    $('#ingredientDetail').append(menuIngredientData_html)
                    let menuOnePersonData_html = `${onePerson}` + " [g]"
                    $('#onePersonDetail').append(menuOnePersonData_html)
                    let eatingNumData_html = `${eatingNum}` + " [명]"
                    $('#eatingNumDetail').append(eatingNumData_html)
                    let expectAmountData_html = `${expectAmount}` + " [kg]"
                    $('#expectAmountDetail').append(expectAmountData_html)
                },
                error: function (error) {
                    alert(error.responseJSON.errorMessage);
                },
            });


        }

        function open_box() {
            $('#post-box').show()
        }

        function close_box() {
            $('#post-box').hide()
        }

        function save_order() {
            let menuId = new URLSearchParams(location.search).get('menuId')
            console.log("menuId : ", menuId);

            let menuName = $('#menuName').val()
            let ingredient = $('#ingredient').val()
            let onePerson = $('#onePerson').val()
            let eatingNum = $('#eatingNum').val()
            let institution = $('#institution').val()
            let additionalIngredient = $('#additionalIngredient').val()
            let additionalOnePerson = $('#additionalOnePerson').val()

            console.log("name: ", menuName, "ingredient: ", ingredient, "one: ", onePerson, "eating: ", eatingNum, "institution: ", institution)

            $.ajax({
                type: 'PATCH',
                url: `/api/menuDetail?menuId=${menuId}`,
                data: {
                    menuName: menuName,
                    ingredient: ingredient,
                    onePerson: onePerson,
                    eatingNum: eatingNum,
                    institution: institution,
                    additionalIngredient: additionalIngredient,
                    additionalOnePerson: additionalOnePerson,
                },
                success: function (response) {
                    alert("메뉴가 수정되었습니다.")
                    window.location.reload()
                }
            })
        }

        function add_ingredient() {
            let temp_html =
                `<div class="input-group" style="margin-top: 20px">
                    <input id="additionalIngredient" type="text" class="form-control">
                    <input id="additionalOnePerson" type="text" class="form-control">
                    <button onclick="add_ingredient()" type="button" class="btn btn-dark">추가하기</button>
                </div>`
            $('#ingredientWithOnePerson').append(temp_html)
        }
    </script>
</head>

<body>
    <div class="mask"></div>
    <div class="order">
        <h1 id="putMenuName"></h1>
        <p>
            검색한 메뉴 정보를 아래에서 확인하세요! 😃<br />
            변경할 사항이 있다면 "수정하기" 버튼으로 수정해보세요 :)
        </p><br />
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-success" type="button" onclick="open_box()">👩🏻‍🍳 메뉴 수정하기 ⬇️ 👨🏻‍🍳</button>
        </div>
        <br />
        <div class="mypost" id="post-box">
            <div class="input-group mb-3">
                <span class="input-group-text">메뉴 이름</span>
                <input id="menuName" type="text" class="form-control">
            </div>

            <div class="input-group" style="margin-bottom: 20px">
                <span type="text" aria-label="Ingredient" class="input-group-text">식재료</span>
                <span type="text" aria-label="OnePerson" class="input-group-text">1인량(g)</span>
            </div>
            <div class="input-group" id="ingredientWithOnePerson" style="margin-bottom: 20px">

                <input id="ingredient" type="text" aria-label="First name" class="form-control">
                <input id="onePerson" type="text" aria-label="Last name" class="form-control">
                <button onclick="add_ingredient()" type="button" class="btn btn-dark">추가하기</button>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">식수</span>
                <input id="eatingNum" type="text" class="form-control">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="institution">사용 기관</label>
                <select class="form-select" id="institution">
                    <option value=""></option>
                    <option value="산업체">산업체</option>
                    <option value="초등학교">초등학교</option>
                    <option value="중학교">중학교</option>
                    <option value="고등학교">고등학교</option>
                    <option value="어린이집">어린이집</option>
                    <option value="요양병원">요양병원</option>

                </select>
            </div>
            <div class="mybtns">
                <button onclick="save_order()" type="button" class="btn btn-dark">저장하기</button>
                <button onclick="close_box()" type="button" class="btn btn-outline-dark">닫기</button>
            </div>
        </div><br />

        <!-- <div class="order-info" id="menuInputBox">

            <div class="input-group mb-3">
                <span class="input-group-text">메뉴 이름</span>
                <input id="menuName" type="text" class="form-control">
            </div>

            <div class="input-group" style="margin-bottom: 20px">
                <span type="text" aria-label="Ingredient" class="input-group-text">식재료</span>
                <span type="text" aria-label="OnePerson" class="input-group-text">1인량(g)</span>
            </div>
            <div class="input-group" id="ingredientWithOnePerson" style="margin-bottom: 20px">

                <input id="ingredient" type="text" aria-label="First name" class="form-control">
                <input id="onePerson" type="text" aria-label="Last name" class="form-control">
                <button onclick="add_ingredient()" type="button" class="btn btn-dark">추가하기</button>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">식수</span>
                <input id="eatingNum" type="text" class="form-control">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="institution">사용 기관</label>
                <select class="form-select" id="institution">
                    <option selected>-- 사용 기관 --</option>
                    <option value="산업체">산업체</option>
                    <option value="초등학교">초등학교</option>
                    <option value="중학교">중학교</option>
                    <option value="고등학교">고등학교</option>
                    <option value="어린이집">어린이집</option>
                    <option value="요양병원">요양병원</option>

                </select>
            </div>
            <button onclick="save_order()" type="button" class="btn btn-warning mybtn">수정하기</button>
        </div> -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">사용 기관</th>
                    <th scope="col">식재료</th>
                    <th scope="col">1인량 (g)</th>
                    <th scope="col">식수 (명)</th>
                    <th scope="col">예상 사용량 [1인량 X 식수] (kg)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col" id="institutionDetail"></th>
                    <th scope="col" id="ingredientDetail"></th>
                    <th scope="col" id="onePersonDetail"></th>
                    <th scope="col" id="eatingNumDetail"></th>
                    <th scope="col" id="expectAmountDetail"></th>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>