<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영양소 회원가입</title> <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        body {
            min-height: 100vh;
            background: -webkit-gradient(linear, left bottom, right top, from(#4f8c46), to(#04430c));
            background: -webkit-linear-gradient(bottom left, #4f8c46 0%, #04430c 100%);
            background: -moz-linear-gradient(bottom left, #4f8c46 0%, #04430c 100%);
            background: -o-linear-gradient(bottom left, #4f8c46 0%, #04430c 100%);
            background: linear-gradient(to top right, #4f8c46 0%, #04430c 100%);
        }

        .input-form {
            max-width: 680px;
            margin-top: 80px;
            padding: 32px;
            background: #fff;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
        }
    </style>
</head>

<script>
    function signUp() {
        let userId = $('#userId').val();
        let userNick = $('#userNick').val();
        let userName = $('#userName').val();
        let userPw = $('#userPw').val();
        let userPwCheck = $('#userPwCheck').val();
        let userEmail = $('#userEmail').val();
        let userInstitution = $('#institution').val();
        console.log("userInputData : ", userId, userNick, userName, userPw, userPwCheck, userEmail, userInstitution);

        if (!userId || !userNick || !userName || !userPw || !userPwCheck || !userEmail || !userInstitution) {
            alert("값을 입력해주세요!")
            return;
        }

        $.ajax({
            type: 'POST',
            url: '/api/user/signUp',
            contentType: 'application/json',
            data: JSON.stringify({
                userId: userId, userNick: userNick, userName: userName, userPw: userPw, userPwCheck: userPwCheck, userEmail: userEmail, userInstitution: userInstitution
            }),
            success: function (response) {
                customAlert("회원가입을 축하드립니다!",
                    function () {
                        window.location.replace("/");
                    });
            },
            error: function (error) {
                alert(error.responseJSON.errorMessage);
            },
        });
    }
</script>

<body>
    <div class="container">
        <div class="input-form-backgroud row">
            <div class="input-form col-md-12 mx-auto">
                <h4 class="mb-3">회원가입</h4>
                <form class="validation-form">
                    <div class="row">
                        <div class="col-md-6 mb-3"> <label for="name">이름</label> <input type="text" class="form-control"
                                id="userName" placeholder="이름을 입력해주세요." value="" required>
                            <div class="invalid-feedback"> 이름을 입력해주세요. </div>
                        </div>
                        <div class="col-md-6 mb-3"> <label for="nickname">닉네임</label> <input type="text"
                                class="form-control" id="userNick" placeholder="닉네임을 입력해주세요." value="" required>
                            <div class="invalid-feedback"> 닉네임을 입력해주세요. </div>
                        </div>
                    </div>
                    <div class="mb-3"> <label for="id">아이디</label> <input type="text" class="form-control" id="userId"
                            placeholder="아이디를 입력해주세요." required>
                        <div class="invalid-feedback"> 아이디를 입력해주세요. </div>
                    </div>
                    <div class="mb-3"> <label for="password">비밀번호</label> <input type="password" class="form-control"
                            id="userPw" required>
                        <div class=" invalid-feedback"> 비밀번호를 입력해주세요. </div>
                    </div>
                    <div class="mb-3"> <label for="passwordCheck">비밀번호 확인</label> <input type="password"
                            class="form-control" id="userPwCheck" required>
                        <div class="invalid-feedback"> 비밀번호를 한 번 더 입력해주세요. </div>
                    </div>
                    <div class="mb-3"> <label for="email">이메일</label> <input type="email" class="form-control"
                            id="userEmail" placeholder="you@example.com" required>
                        <div class="invalid-feedback"> 이메일을 입력해주세요. </div>
                    </div>
                    <!-- <div class="mb-3"> <label for="address">소속 기관</label> <input type="text" class="form-control"
                            id="address" placeholder="대한민국 청와대" required>
                        <div class="invalid-feedback"> 소속 기관을 입력해주세요. </div>
                    </div> -->
                    <!-- <div class="mb-3"> <label for="address2">상세주소<span class="text-muted">&nbsp;(필수 아님)</span></label>
                        <input type="text" class="form-control" id="address2" placeholder="상세주소를 입력해주세요.">
                    </div> -->
                    <div class="row">
                        <div class="col-md-8 mb-3"> <label for="institution">소속 기관</label> <select
                                class="custom-select " id="institution" aria-placeholder="소속 기관의 종류를 선택해주세요.">
                                <option value=""></option>
                                <option value="산업체">산업체</option>
                                <option value="초등학교">초등학교</option>
                                <option value="중학교">중학교</option>
                                <option value="고등학교">고등학교</option>
                                <option value="어린이집">어린이집</option>
                                <option value="요양병원">요양병원</option>
                                <option value="복지관">복지관</option>
                                <option value="기타">기타</option>
                            </select>

                        </div>
                        <!-- <div class="col-md-4 mb-3"> <label for="code">추천인 코드</label> <input type="text"
                                class="form-control" id="code" placeholder="" required>
                            <div class="invalid-feedback"> 추천인 코드를 입력해주세요. </div>
                        </div> -->
                    </div>
                    <hr class="mb-4">
                    <div class="custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input"
                            id="aggrement" required> <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에
                            동의합니다.</label> </div>
                    <div class="mb-4"></div> <button onclick="signUp()" class="btn btn-primary btn-lg btn-block"
                        type="submit">가입 완료</button>
                </form>
            </div>
        </div>
        <footer class="my-3 text-center text-small">
            <p class="mb-1">&copy; 2022 Nutrient</p>
        </footer>
    </div>

</body>

</html>